# Licensed under the Apache-2.0 license

[package]
name = "caliptra-hw-model"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[features]
default = []
verilator = ["dep:caliptra-verilated"]

[dependencies]
caliptra-emu-bus = { path = "../sw-emulator/lib/bus" }
caliptra-emu-cpu = { path = "../sw-emulator/lib/cpu" }
caliptra-emu-periph = { path = "../sw-emulator/lib/periph" }
caliptra-emu-types = { path = "../sw-emulator/lib/types" }
caliptra-hw-model-types = { path = "types" }
caliptra-registers = { path = "../registers" }
ureg = { path = "../ureg" }
caliptra-verilated = { path = "../hw-latest/verilated", optional = true, features = ["verilator"] }

[dev-dependencies]
caliptra-builder = { path = "../builder" }
caliptra-registers = { path = "../registers" }
caliptra-test-harness-types = { path = "../test-harness/types" }
