# Typical firmware development will not need this submodule. Future
# commits should only use it when running verilated test cases or updating
# the caliptra-registers crate.
[submodule "hw/latest/rtl"]
	path = hw/latest/rtl
	url = https://github.com/chipsalliance/caliptra-rtl
	branch = main
[submodule "dpe"]
	path = dpe
	url = https://github.com/chipsalliance/caliptra-dpe.git
	branch = main
[submodule "hw/latest/i3c-core-rtl"]
	path = hw/latest/i3c-core-rtl
	url = https://github.com/chipsalliance/i3c-core.git
