[submodule "hw/latest/caliptra-ss"]
	path = hw/latest/caliptra-ss
	url = https://github.com/chipsalliance/caliptra-ss.git
	branch = main
[submodule "hw/rev-2_1/caliptra-ss"]
	path = hw/rev-2_1/caliptra-ss
	url = https://github.com/chipsalliance/caliptra-ss.git
