##########################################
#             Code Ownership
##########################################
/rom/dev/ @mhatrevi @ajisaxena @vsonims @korran @JohnTraverAmd
/kat/ @mhatrevi @ajisaxena @vsonims @korran @JohnTraverAmd
/drivers/ @mhatrevi @ajisaxena @vsonims @korran
/image/ @mhatrevi @ajisaxena @vsonims @korran
/sw-emulator/ @korran @mhatrevi @ajisaxena
/x509/ @mhatrevi @ajisaxena @vsonims @jlmahowa-amd @jhand2
/fmc/ @FerralCoder @rusty1968 @bluegate010
/runtime/ @jhand2 @fdamato @rusty1968 @bluegate010
/hw-model/ @korran @fdamato @jlmahowa-amd
/libcaliptra/ @fdamato @wmaroneAMD @JohnTraverAmd @jlmahowa-amd @korran @mhatrevi
