# Licensed under the Apache-2.0 license

[package]
name = "caliptra-runtime"
version = "0.1.0"
edition = "2021"

[dependencies]
caliptra-cpu = { version = "0.1.0", path = "../cpu" }
caliptra-drivers = { path = "../drivers" }
caliptra-registers = { path = "../registers" }
caliptra_common = { path = "../common", default-features = false }
caliptra-x509 = { path = "../x509", default-features = false }
ufmt = "0.2.0"
zerocopy = "0.6.1"

[build-dependencies]
cfg-if = "1.0.0"

[dev-dependencies]
caliptra-hw-model = { path = "../hw-model" }
caliptra-builder = { path = "../builder" }
caliptra-image-elf = { path = "../image/elf" }
caliptra-image-fake-keys = { path = "../image/fake-keys" }
caliptra-image-gen = { path = "../image/gen" }
caliptra-image-openssl = { path = "../image/openssl" }
caliptra-image-serde = { path = "../image/serde" }
caliptra-image-types = { path = "../image/types" }
openssl = { version = "0.10", features = ["vendored"] }

[features]
riscv = ["caliptra-cpu/riscv"]
default = ["std", "test_only_commands"]
emu = [
    "caliptra_common/emu",
    "caliptra-drivers/emu"
]
std = ["ufmt/std", "caliptra_common/std"]
test_only_commands = []
verilator = ["caliptra-hw-model/verilator"]
