# Licensed under the Apache-2.0 license

[package]
name = "caliptra-runtime"
version = "0.1.0"
edition = "2021"

[dependencies]
caliptra-cpu = { version = "0.1.0", path = "../cpu" }
caliptra-drivers = { path = "../drivers" }
caliptra-registers = { path = "../registers" }
caliptra_common = { path = "../common", default-features = false }
caliptra-x509 = { path = "../x509", default-features = false }
caliptra-image-types = { path = "../image/types", default-features = false }
ufmt = { workspace = true }
zerocopy = "0.6.1"
caliptra-kat = { version = "0.1.0", path = "../kat" }
caliptra-image-verify = { version = "0.1.0", path = "../image/verify", default-features = false }

[build-dependencies]
cfg-if = "1.0.0"
caliptra_common = { path = "../common", default-features = false }
caliptra-gen-linker-scripts = { version = "0.1.0", path = "../cpu/gen" }

[dev-dependencies]
caliptra-hw-model = { path = "../hw-model" }
caliptra-builder = { path = "../builder" }
caliptra-image-elf = { path = "../image/elf" }
caliptra-image-fake-keys = { path = "../image/fake-keys" }
caliptra-image-gen = { path = "../image/gen" }
caliptra-image-openssl = { path = "../image/openssl" }
caliptra-image-serde = { path = "../image/serde" }
openssl = { version = "0.10", features = ["vendored"] }

[features]
riscv = ["caliptra-cpu/riscv"]
default = ["std", "test_only_commands"]
emu = ["caliptra_common/emu", "caliptra-drivers/emu"]
fpga_realtime = ["caliptra-drivers/fpga_realtime"]
std = ["ufmt/std", "caliptra_common/std"]
test_only_commands = []
itrng = ["caliptra-hw-model/itrng"]
verilator = ["caliptra-hw-model/verilator"]
