# Licensed under the Apache-2.0 license.

[package]
name = "caliptra-image-verify"
version = "0.1.0"
edition = "2021"

[lib]
doctest = false

[dependencies]
caliptra-image-types = { path = "../types", default-features = false }
caliptra-drivers = { path = "../../drivers" }
bitflags = "2.0.1"
zerocopy = "0.6.1"
memoffset = "0.8.0"

[features]
default = ["std"]
std = ["caliptra-image-types/std"]
