# Licensed under the Apache-2.0 license.

[package]
name = "caliptra-image-verify"
version = "0.1.0"
edition = "2021"

[lib]
doctest = false

[dependencies]
bitflags.workspace = true
caliptra-drivers.workspace = true
caliptra-image-types = { workspace = true, default-features = false }
memoffset.workspace = true
zerocopy.workspace = true

[dev-dependencies]
caliptra_common = { path = "../../common", default-features = false }

[features]
default = ["std"]
std = ["caliptra-image-types/std"]
