# Watchdog Configuration
CONFIG_WATCHDOG=y
CONFIG_CADENCE_WATCHDOG=y
CONFIG_XILINX_WATCHDOG=y
CONFIG_SOFT_WATCHDOG=y
CONFIG_WATCHDOG_NOWAYOUT=y

# OverlayFS and Tmpfs Configuration
CONFIG_OVERLAY_FS=y
CONFIG_OVERLAY_FS_REDIRECT_DIR=y
CONFIG_OVERLAY_FS_INDEX=y
CONFIG_OVERLAY_FS_XINO_AUTO=y
CONFIG_OVERLAY_FS_METACOPY=y
CONFIG_OVERLAY_FS_DEBUG=y
# CONFIG_OVERLAY_FS_NFS_EXPORT is not set
CONFIG_TMPFS=y
CONFIG_TMPFS_POSIX_ACL=y
CONFIG_BLK_DEV_INITRD=y

# SquashFS Configuration
CONFIG_SQUASHFS=y
CONFIG_SQUASHFS_FILE_CACHE=y
# CONFIG_SQUASHFS_FILE_DIRECT is not set
CONFIG_SQUASHFS_DECOMP_SINGLE=y
# CONFIG_SQUASHFS_CHOICE_DECOMP_BY_MOUNT is not set
CONFIG_SQUASHFS_COMPILE_DECOMP_SINGLE=y
# CONFIG_SQUASHFS_COMPILE_DECOMP_MULTI is not set
# CONFIG_SQUASHFS_COMPILE_DECOMP_MULTI_PERCPU is not set
CONFIG_SQUASHFS_XATTR=y
CONFIG_SQUASHFS_ZLIB=y
CONFIG_SQUASHFS_XZ=y
CONFIG_SQUASHFS_ZSTD=y
# CONFIG_SQUASHFS_4K_DEVBLK_SIZE is not set
# CONFIG_SQUASHFS_EMBEDDED is not set
CONFIG_SQUASHFS_FRAGMENT_CACHE_SIZE=3

# UIO Drivers
CONFIG_UIO_PDRV_GENIRQ=y
CONFIG_UIO_DMEM_GENIRQ=y

# Rust and Debugging
CONFIG_RUST_IS_AVAILABLE=y
CONFIG_IKHEADERS=y
CONFIG_MODULE_DEBUG=y
# CONFIG_MODULE_STATS is not set
# CONFIG_MODULE_DEBUG_AUTOLOAD_DUPS is not set
CONFIG_MODULE_ALLOW_MISSING_NAMESPACE_IMPORTS=y
CONFIG_GPIO_SYSFS=y

# Forced Kernel Command Line
CONFIG_CMDLINE="earlycon=pl011,mmio32,0xFF000000,115200n8 root=/dev/mmcblk0p3 ro rootwait console=ttyAMA0,115200 console=tty1 init=/usr/sbin/overlay-mount.sh clk_ignore_unused"
CONFIG_CMDLINE_FORCE=y
