
[Unit]
After=serial-getty.target
After=network-online.target
Wants=network-online.target
Conflicts=serial-getty@ttyAMA0.service

[Service]
Type=idle
Restart=no
StandardInput=tty-force
StandardOutput=tty-force
StandardError=tty-force
TTYPath=/dev/ttyAMA0
User=root
WorkingDirectory=/home/runner
ExecStart=/usr/bin/startup-script.sh

[Install]
WantedBy=multi-user.target
