# Licensed under the Apache-2.0 license


[package]
name = "caliptra-drivers-test-bin"
version = "0.1.0"
edition = "2021"

[dependencies]
caliptra-drivers = { path = "..", features=["emu"] }
caliptra-error = { path = "../../error", default_features = false }
caliptra-registers = { path = "../../registers" }
caliptra-kat = { path = "../../kat" }
caliptra-lms-types = { path = "../../lms-types" }
caliptra-test-harness = { path = "../../test-harness" }
cfg-if = "1.0.0"
zerocopy = "0.6.1"

[features]
emu = ["caliptra-test-harness/emu"]

# This feature is used to filter all these binary targets during normal builds
# (targets must be built with cargo arguments:
#     --target riscv32imc-unknown-none-elf \
#     --profile=firmware \
#     --features riscv
riscv = ["caliptra-test-harness/riscv"]

[[bin]]
name = "sha1"
path = "src/bin/sha1_tests.rs"
required-features = ["riscv"]

[[bin]]
name = "sha256"
path = "src/bin/sha256_tests.rs"
required-features = ["riscv"]

[[bin]]
name = "sha384"
path = "src/bin/sha384_tests.rs"
required-features = ["riscv"]

[[bin]]
name = "hmac384"
path = "src/bin/hmac384_tests.rs"
required-features = ["riscv"]

[[bin]]
name = "doe"
path = "src/bin/doe_tests.rs"
required-features = ["riscv"]

[[bin]]
name = "ecc384"
path = "src/bin/ecc384_tests.rs"
required-features = ["riscv"]

[[bin]]
name = "mailbox_driver_responder"
path = "src/bin/mailbox_driver_responder.rs"
required-features = ["riscv"]

[[bin]]
name = "mailbox_driver_sender"
path = "src/bin/mailbox_driver_sender.rs"
required-features = ["riscv"]

[[bin]]
name = "mailbox_driver_negative_tests"
path = "src/bin/mailbox_driver_negative_tests.rs"
required-features = ["riscv"]

[[bin]]
name = "keyvault"
path = "src/bin/keyvault_tests.rs"
required-features = ["riscv"]

[[bin]]
name = "pcrbank"
path = "src/bin/pcrbank_tests.rs"
required-features = ["riscv"]

[[bin]]
name = "sha384acc"
path = "src/bin/sha384acc_tests.rs"
required-features = ["riscv"]

[[bin]]
name = "error_reporter"
path = "src/bin/error_reporter_tests.rs"
required-features = ["riscv"]

[[bin]]
name = "status_reporter"
path = "src/bin/status_reporter_tests.rs"
required-features = ["riscv"]

[[bin]]
name = "test_success"
path = "src/bin/test_success.rs"
required-features = ["riscv"]

[[bin]]
name = "test_failure"
path = "src/bin/test_failure.rs"
required-features = ["riscv"]

[[bin]]
name = "test_lms_24"
path = "src/bin/lms_24_tests.rs"
required-features = ["riscv"]

[[bin]]
name = "test_lms_32"
path = "src/bin/lms_32_tests.rs"
required-features = ["riscv"]

[[bin]]
name = "test_negative_lms"
path = "src/bin/negative_tests_lms.rs"
required-features = ["riscv"]

[[bin]]
name = "csrng"
path = "src/bin/csrng_tests.rs"
required-features = ["riscv"]