# Licensed under the Apache-2.0 license


[package]
name = "caliptra-drivers-test-bin"
version = "0.1.0"
edition = "2021"

[dependencies]
caliptra-drivers = { workspace = true, features=["emu"] }
caliptra-error = { workspace = true, default-features = false }
caliptra-kat = { workspace = true }
caliptra-lms-types = { workspace = true }
caliptra-registers = { workspace = true }
caliptra-test-harness = { workspace = true }
cfg-if.workspace = true
zerocopy.workspace = true
caliptra-cfi-lib = { workspace = true, default-features = false, features = ["cfi", "cfi-counter" ] }

[features]
emu = ["caliptra-test-harness/emu"]
fpga_realtime = []

hw-latest = ["caliptra-drivers/hw-latest", "caliptra-registers/hw-latest"]





# This feature is used to filter all these binary targets during normal builds
# (targets must be built with cargo arguments:
#     --target riscv32imc-unknown-none-elf \
#     --profile=firmware \
#     --features riscv
riscv = ["caliptra-test-harness/riscv"]

[[bin]]
name = "mbox_send_txn_drop"
path = "src/bin/mbox_send_txn_drop.rs"
required-features = ["riscv"]

[[bin]]
name = "sha1"
path = "src/bin/sha1_tests.rs"
required-features = ["riscv"]

[[bin]]
name = "sha256"
path = "src/bin/sha256_tests.rs"
required-features = ["riscv"]

[[bin]]
name = "sha384"
path = "src/bin/sha384_tests.rs"
required-features = ["riscv"]

[[bin]]
name = "hmac384"
path = "src/bin/hmac384_tests.rs"
required-features = ["riscv"]

[[bin]]
name = "doe"
path = "src/bin/doe_tests.rs"
required-features = ["riscv"]

[[bin]]
name = "ecc384"
path = "src/bin/ecc384_tests.rs"
required-features = ["riscv"]

[[bin]]
name = "ecc384_sign_validation_failure"
path = "src/bin/ecc384_sign_validation_failure_test.rs"
required-features = ["riscv"]

[[bin]]
name = "mailbox_driver_responder"
path = "src/bin/mailbox_driver_responder.rs"
required-features = ["riscv"]

[[bin]]
name = "mailbox_driver_sender"
path = "src/bin/mailbox_driver_sender.rs"
required-features = ["riscv"]

[[bin]]
name = "mailbox_driver_negative_tests"
path = "src/bin/mailbox_driver_negative_tests.rs"
required-features = ["riscv"]

[[bin]]
name = "keyvault"
path = "src/bin/keyvault_tests.rs"
required-features = ["riscv"]

[[bin]]
name = "pcrbank"
path = "src/bin/pcrbank_tests.rs"
required-features = ["riscv"]

[[bin]]
name = "persistent"
path = "src/bin/persistent_tests.rs"
required-features = ["riscv"]

[[bin]]
name = "sha384acc"
path = "src/bin/sha384acc_tests.rs"
required-features = ["riscv"]

[[bin]]
name = "error_reporter"
path = "src/bin/error_reporter_tests.rs"
required-features = ["riscv"]

[[bin]]
name = "status_reporter"
path = "src/bin/status_reporter_tests.rs"
required-features = ["riscv"]

[[bin]]
name = "test_success"
path = "src/bin/test_success.rs"
required-features = ["riscv"]

[[bin]]
name = "test_failure"
path = "src/bin/test_failure.rs"
required-features = ["riscv"]

[[bin]]
name = "test_uart"
path = "src/bin/test_uart.rs"
required-features = ["riscv"]

[[bin]]
name = "test_lms_24"
path = "src/bin/lms_24_tests.rs"
required-features = ["riscv"]

[[bin]]
name = "test_lms_24_hw_latest"
path = "src/bin/lms_24_tests.rs"
required-features = ["riscv"]


[[bin]]
name = "test_lms_32"
path = "src/bin/lms_32_tests.rs"
required-features = ["riscv"]

[[bin]]
name = "test_lms_32_hw_latest"
path = "src/bin/lms_32_tests.rs"
required-features = ["riscv"]


[[bin]]
name = "test_negative_lms"
path = "src/bin/negative_tests_lms.rs"
required-features = ["riscv"]

[[bin]]
name = "test_negative_lms_hw_latest"
path = "src/bin/negative_tests_lms.rs"
required-features = ["riscv"]


[[bin]]
name = "csrng"
path = "src/bin/csrng_tests.rs"
required-features = ["riscv"]

[[bin]]
name = "csrng2"
path = "src/bin/csrng_tests2.rs"
required-features = ["riscv"]

[[bin]]
name = "csrng_fail_repcnt_tests"
path = "src/bin/csrng_fail_repcnt_tests.rs"
required-features = ["riscv"]

[[bin]]
name = "csrng_pass_health_tests"
path = "src/bin/csrng_pass_health_tests.rs"
required-features = ["riscv"]

[[bin]]
name = "csrng_fail_adaptp_tests"
path = "src/bin/csrng_fail_adaptp_tests.rs"
required-features = ["riscv"]

[[bin]]
name = "trng_driver_responder"
path = "src/bin/trng_driver_responder.rs"
required-features = ["riscv"]

