# Licensed under the Apache-2.0 license

[package]
name = "caliptra-rom"
version = "0.1.0"
edition = "2021"
rust-version = "1.70"

[dependencies]
caliptra-api.workspace = true
caliptra-cfi-lib = { workspace = true, default-features = false, features = [
  "cfi",
  "cfi-counter",
] }
caliptra-cfi-derive.workspace = true
caliptra_common = { workspace = true, default-features = false, features = [
  "rom",
] }
caliptra-drivers.workspace = true
caliptra-error = { workspace = true, default-features = false }
caliptra-image-types = { workspace = true, default-features = false }
caliptra-image-verify = { workspace = true, default-features = false }
caliptra-kat.workspace = true
caliptra-lms-types.workspace = true
caliptra-registers.workspace = true
caliptra-x509 = { workspace = true, default-features = false }
ufmt.workspace = true
zerocopy.workspace = true
zeroize.workspace = true

[build-dependencies]
cfg-if.workspace = true
hex.workspace = true
x509-parser.workspace = true

[dev-dependencies]
caliptra-api.workspace = true
caliptra-builder.workspace = true
caliptra-emu-cpu.workspace = true

caliptra-hw-model.workspace = true
caliptra-image-elf.workspace = true
caliptra-image-fake-keys.workspace = true
caliptra-image-gen.workspace = true
caliptra-image-crypto.workspace = true
caliptra-image-types.workspace = true
caliptra-test.workspace = true
elf.workspace = true
hex.workspace = true
memoffset.workspace = true
openssl.workspace = true

[features]
riscv = []
default = ["std"]
emu = ["caliptra-drivers/emu"]
std = [
  "caliptra_common/std",
  "caliptra-image-types/std",
  "caliptra-image-verify/std",
  "caliptra-x509/std",
  "ufmt/std",
]
fpga_realtime = ["caliptra-hw-model/fpga_realtime"]
itrng = ["caliptra-hw-model/itrng"]
verilator = ["caliptra-hw-model/verilator"]
no-fmc = []
fake-rom = []
no-cfi = ["caliptra-image-verify/no-cfi", "caliptra-drivers/no-cfi"]
slow_tests = []
fips-test-hooks = [
  "caliptra-drivers/fips-test-hooks",
  "caliptra-image-verify/fips-test-hooks",
]

[[bin]]
name = "asm_tests"
path = "test-fw/asm_tests.rs"

[[bin]]
name = "pmp_tests"
path = "test-fw/pmp_tests.rs"
