# Licensed under the Apache-2.0 license

[package]
name = "caliptra-rom"
version = "0.1.0"
edition = "2021"

[dependencies]
caliptra-drivers = { path = "../../drivers" }
caliptra-kat = { path = "../../kat" }
caliptra-x509 = { path = "../../x509", default-features = false }
caliptra-image-types = { path = "../../image/types", default-features = false }
caliptra-image-verify = { path = "../../image/verify", default-features = false }
caliptra_common = { path = "../../common", default-features = false }
ufmt = "0.2.0"
zerocopy = "0.6.1"
caliptra-error = { version = "0.1.0", path = "../../error", default_features = false }


[build-dependencies]
cfg-if = "1.0.0"
hex = "0.4.3"


[dev-dependencies]
caliptra-builder = { path = "../../builder" }
caliptra-hw-model = { path = "../../hw-model" }
caliptra-image-gen = { path = "../../image/gen" }
caliptra-image-openssl = { path = "../../image/openssl" }
caliptra-image-elf = { path = "../../image/elf" }
caliptra-image-fake-keys = { path = "../../image/fake-keys" }
caliptra-image-types = { path = "../../image/types" }
hex = "0.4.3"
openssl = "0.10"

[features]
riscv = []
default = ["std"]
emu = ["caliptra-drivers/emu"]
std = ["caliptra-x509/std", "caliptra-image-types/std", "caliptra-image-verify/std", "caliptra_common/std", "ufmt/std"]
no-fmc = []

[[bin]]
name = "asm_tests"
path = "test-fw/asm_tests.rs"
