# Licensed under the Apache-2.0 license

[package]
name = "caliptra-hw-model-c-binding"
version = "0.1.0"
edition = "2021"

[dependencies]
caliptra-emu-bus.workspace = true
caliptra-emu-types.workspace = true
caliptra-hw-model.workspace = true

[lib]
crate-type = ["staticlib"]

[features]
itrng = ["caliptra-hw-model/itrng"]
verilator = ["caliptra-hw-model/verilator"]

[build-dependencies]
cbindgen.workspace = true