# Licensed under the Apache-2.0 license
[package]
name = "caliptra_common"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
ufmt = { workspace = true }
zerocopy = "0.6.1"
caliptra-drivers = { path = "../drivers" }
caliptra-registers = { path = "../registers" }
caliptra-image-types = { path = "../image/types", default-features = false }
bitfield = "0.14.0"


[features]
default = ["std"]
std = []
emu = []

