# Licensed under the Apache-2.0 license

[package]
name = "caliptra-x509"
version = "0.1.0"
edition = "2021"
build = "build/build.rs"

[lib]
doctest = false

[dependencies]
zeroize.workspace = true

[build-dependencies]
asn1.workspace = true
bitfield.workspace = true
caliptra_common.workspace = true
convert_case.workspace = true
hex.workspace = true
openssl.workspace = true
quote.workspace = true
syn.workspace = true

[dev-dependencies]
hex.workspace = true
openssl.workspace = true
x509-parser.workspace = true

[features]
default = ["std"]
std = []

[lints]
workspace = true