# Licensed under the Apache-2.0 license

[package]
name = "caliptra-rom-test-fmc"
version = "0.1.0"
edition = "2021"

[dependencies]
caliptra_common = { workspace = true, default-features = false }
caliptra-cpu.workspace = true
caliptra-drivers.workspace = true
caliptra-registers.workspace = true
caliptra-x509 = { workspace = true, default-features = false }
ufmt.workspace = true
ureg.workspace = true
zerocopy.workspace = true

[build-dependencies]
cfg-if.workspace = true

[features]
default = ["std"]
emu = ["caliptra-drivers/emu"]
interactive_test_fmc = []
riscv = ["caliptra-cpu/riscv"]
std = ["ufmt/std", "caliptra_common/std"]
fake-fmc = []
"hw-1.0" = ["caliptra-drivers/hw-1.0", "caliptra-registers/hw-1.0"]
