# Licensed under the Apache-2.0 license

[package]
name = "caliptra-hw-model-test-fw"
version = "0.1.0"
edition = "2021"

[features]
default = []
riscv = ["caliptra-test-harness/riscv"]
emu = ["caliptra-test-harness/emu"]

[dependencies]
caliptra-test-harness = { path = "../../test-harness" }
caliptra-registers = { path = "../../registers" }

[[bin]]
name = "test_iccm_unaligned_write"
path = "test_iccm_unaligned_write.rs"
required-features = ["riscv"]

[[bin]]
name = "test_iccm_byte_write"
path = "test_iccm_byte_write.rs"
required-features = ["riscv"]

[[bin]]
name = "test_iccm_write_locked"
path = "test_iccm_write_locked.rs"
required-features = ["riscv"]


[[bin]]
name = "mailbox_responder"
path = "mailbox_responder.rs"
required-features = ["riscv"]

[[bin]]
name = "mailbox_sender"
path = "mailbox_sender.rs"
required-features = ["riscv"]


[[bin]]
name = "test_invalid_instruction"
path = "test_invalid_instruction.rs"
required-features = ["riscv"]

[[bin]]
name = "test_write_to_rom"
path = "test_write_to_rom.rs"
required-features = ["riscv"]