# docs: https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions

name: Build and Test

on:
  push:
    branches: ["main"]
  pull_request:

  workflow_call:
    inputs:
      ref:
        description: "Ref to checkout"
        type: string
  workflow_dispatch:

jobs:
  build_and_test:
    runs-on: ubuntu-20.04

    env:
      CARGO_INCREMENTAL: 0
      SCCACHE_VERSION: 0.3.3
      SCCACHE_GHA_CACHE_TO: sccache-caliptra-sw
      SCCACHE_GHA_CACHE_FROM: sccache-caliptra-sw

      # Change this to a new random value if you suspect the cache is corrupted
      SCCACHE_C_CUSTOM_CACHE_BUSTER: 4eeb97ca753a

      # Compiler warnings should fail to compile
      EXTRA_CARGO_CONFIG: "target.'cfg(all())'.rustflags = [\"-Dwarnings\"]"

    steps:
      - name: Setup ref to use
        id: ref
        run: |
          REF_REQ=${{ inputs.ref }}
          echo "ref=${REF_REQ:-"Blah"}" >> $GITHUB_OUTPUT
          echo ${REF_REQ:-"Blah"}

      - name: Checkout repo default ref
        uses: actions/checkout@v3
        if: steps.ref.outputs.ref == 'Blah'
        with:
          submodules: 'true'

      - name: Checkout specific repo ref
        uses: actions/checkout@v3
        if: steps.ref.outputs.ref != 'Blah'
        with:
          submodules: 'true'
          ref: ${{ steps.ref.outputs.ref }}

      - name: Restore sccache binary
        uses: actions/cache/restore@v3
        id: sccache_bin_restore
        with:
          path: ~/.cargo/bin/sccache
          key: sccache-bin-${{ env.SCCACHE_VERSION }}-${{ env.SCCACHE_C_CUSTOM_CACHE_BUSTER }}

      - name: Install sccache
        if: steps.sccache_bin_restore.outputs.cache-hit != 'true'
        run: |
          cargo install sccache --version ${SCCACHE_VERSION} --no-default-features --features=gha

      # Save the sccache binary immediately so we can reuse it in future runs
      # even if the rest of the current run fails.
      - name: Save sccache binary
        uses: actions/cache/save@v3
        if: steps.sccache_bin_restore.outputs.cache-hit != 'true'
        with:
          path: ~/.cargo/bin/sccache
          key: ${{ steps.sccache_bin_restore.outputs.cache-primary-key }}

      - name: Configure sccache
        uses: actions/github-script@v6
        with:
          script: |
            core.exportVariable('RUSTC_WRAPPER', process.env.HOME + '/.cargo/bin/sccache');
            core.exportVariable('ACTIONS_CACHE_URL', process.env.ACTIONS_CACHE_URL || '');
            core.exportVariable('ACTIONS_RUNTIME_TOKEN', process.env.ACTIONS_RUNTIME_TOKEN || '');

      - name: Check that Cargo.lock doesn't need to be updated
          # Note: this isn't the same as checking that Cargo.lock is up to date
          # (cargo update --locked), which makes sure that every package is the
          # latest published version. This is just ensuring that every
          # dependency has an entry in Cargo.lock that is compatible with the
          # version requirements in all Cargo.toml files.
        run: |
          # This works because cargo tree requires a Cargo.lock with no required updates
          cargo tree --locked > /dev/null || (
            echo "Please include required changes to Cargo.lock in your pull request"
            # Without the --locked flag, cargo will do the minimal possible update to Cargo.lock
            cargo tree > /dev/null 2> /dev/null
            # Print out the differences to ease debugging
            git diff Cargo.lock
            exit 1
          )

      - name: Check source-code formatting (run "cargo fmt" if this fails)
        run: |
          cargo fmt --check --all

      - name: Check license headers
        run: |
          cargo run -p caliptra-file-header-fix --locked -- --check

      - name: Build
        run: |
          cargo --config "$EXTRA_CARGO_CONFIG" build --locked
          drivers/test-fw/build.sh
          (cd fmc && ./build.sh)
          (cd runtime && ./build.sh)
          (cd rom/dev && ./build.sh)
          sccache --show-stats

      # Clippy needs to build crates as part of the check, so do it after the
      # build.
      - name: Clippy lint check
        run: |
          cargo clippy --locked --all-targets -- -D warnings

      - name: Run tests
        run: |
          cargo --config "$EXTRA_CARGO_CONFIG" test --locked
          sccache --show-stats

      - name: Run emulator conformance tests
        run: |
          sudo apt-get install gcc-riscv64-unknown-elf binutils-riscv64-unknown-elf
          (cd /tmp/ && git clone --depth 1 --branch old-framework-2.x https://github.com/riscv-non-isa/riscv-arch-test)
          cargo run --locked -p compliance-test -- --test_root_path /tmp/riscv-arch-test

      - name: ROM Makefile
        run: |
          (cd rom/dev && make run)

      - name: Caliptra HW-Model C Binding Smoke Test
        run: |
          git submodule update --init
          (cd hw-model/c-binding/examples && make run)

