name: Verilator Nightly
on:
  workflow_call:
  workflow_dispatch:
  schedule:
    # cron format "minutes hours day-of-month month day-of-week"
    # 5:30 PM Pacific on tuesday and friday
    - cron: '30 0 * * 3,6'

jobs:
  smoke_test:
    name: Smoke Test
    runs-on: n2d-highcpu-64
    timeout-minutes: 2800

    env:
      VERILATOR_VERSION: v5.006
      PKG_CONFIG_PATH: /opt/verilator/share/pkgconfig

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
        with:
          submodules: 'true'

      - name: Install verilator
        run: |
          if [ -d "/opt/verilator" ]; then
            # The GCP runners already have verilator installed
            exit
          fi
          sudo apt-get update -qy && sudo apt-get install flex bison libfl2 libfl-dev help2man
          cd /tmp/
          git clone -b "${VERILATOR_VERSION}" https://github.com/verilator/verilator
          cd verilator
          autoconf
          ./configure --prefix=/opt/verilator
          make -j64
          sudo make install

      - name: Install nextest
        run: |
          cargo install cargo-nextest --locked

      - name: Setup verilator path
        run: |
          echo /opt/verilator/bin >> $GITHUB_PATH

      - name: Run all tests inside verilator (will take hours)
        run: |
          cargo nextest run --no-fail-fast --features=verilator,itrng --release
